@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: radial-gradient(circle at top, #3D2B5E 0%, #110821 100%);
    background-attachment: fixed;
}

.stars,
.stars-2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}